<!-- Page Content -->
<%= partial :navbar %>
<div class="container">

    <div class="row">

        <div class="col-md-9">

            <div class="thumbnail">
                <img class="img-responsive" src="http://placehold.it/800x300" alt="">
                <div class="caption-full">

                    <h4 class="pull-right">$<%= @this_item.price %></h4>
                    <a><form action="/cart" method="post">
                        <input type="hidden" id="item" name="item[id]" value="<%= @this_item.id %>" />
                        <input type="submit" value="Buy" class="btn btn-success pull-right"></form></a>
                    <h4><%= @this_item.name %>
                    </h4>
                    <p> <%= @this_item.description %></p>
                </div>
            </div>

        </div>

    </div>

</div>
<!-- /.container -->

<!-- Footer -->
<div class="container">
    <hr>
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </footer>
</div>
